/emulator
/*.nes
/*.exe
/*.cdl

/[1190]Balloon Fight Data v1-1 QC.rar
/balloon_festival.ips
/balloon_festival.nes.prg.bin
/balloon_festival.nes.bin
/balloon_festival.nes.chr.bin
/balloon_festival.nes.deb
/BalloonFightIwata.ips
/BalloonFightFestival_PRG_CHR.zip
/BalloonFightFestival.7z
/BalloonFightFestival.zip
/balloon_iwata.nes.bin
/balloon_iwata.nes.prg.bin
/balloon_festival.wch
/balloon_festival.chr
